
.navbar .container .navbar-brand {
    color: white;
    font-size: 2.8em;
    margin: 18px 0;
}

.navbar .container .navbar-brand:hover {
    color: lightpink;
    font-size: 2.8em;
    margin: 18px 0;
}

